<network connections='1'>
  <name>{{ item.name }}</name>
  <forward mode='{{ item.mode }}'/>
  <bridge name='{{ item.bridge }}'/>
  {% if item.mode == 'route' or item.mode == 'nat' %}
  <domain name='{{ item.domain|default(item.name) }}'/>
  <ip address='{{ item.ip }}' netmask='{{ item.netmask }}'>
  {% if item.dhcp_start is defined and item.dhcp_end is defined %}
  <dhcp>
    <range start='{{ item.dhcp_start }}' end='{{ item.dhcp_end }}'/>
  </dhcp>
  {% endif %}
  </ip>
  {% endif %}
</network>