{{ ansible_managed | comment }}

{% if gnome_input_sources is defined %}
[org/gnome/desktop/input-sources]
sources=[{% for o in gnome_input_sources %}
('{{ o.0 }}','{{ o.1 }}'){% if not loop.last %},{% endif %}{% endfor %}]
{% endif %}