{{ ansible_managed | comment }}

[org/gnome/gedit/preferences/editor]
auto-save=true
auto-save-interval=uint32 15
bracket-matching=true
display-line-numbers=true
highlight-current-line=true
scheme='oblivion'