{{ ansible_managed | comment }}

[org/gnome/builder]
night-mode=true

[org/gnome/builder/editor]
highlight-current-line=true
highlight-matching-brackets=true
style-scheme-name='oblivion'

[org/gnome/builder/editor/language/markdown]
trim-trailing-whitespace=false

[org/gnome/builder/editor/langyage/python]
insert-spaces-instead-of-tabs=true
right-margin-position=uint32 79
tab-width=uint32 4

[org/gnome/builder/editor/langyage/python3]
insert-spaces-instead-of-tabs=true
right-margin-position=uint32 79
tab-width=uint32 4

[org/gnome/builder/editor/language/sh]
insert-spaces-instead-of-tabs=true
right-margin-position=uint32 80
tab-width=uint32 2

[org/gnome/builder/editor/language/yaml]
insert-spaces-instead-of-tabs=true
right-margin-position=uint32 80
tab-width=uint32 2