
[Interface]
PrivateKey = {{ wg_private_key.stdout }}
# PublicKey = {{ wg_public_key.stdout }}
Address = {{ vars[wg_client + '_' + wg_server.split('.')[0] + '_' + tunnel + '_ipaddress'] }}/32
{% if tunnel == 'full' %}
DNS = {{ vars[wg_server.split('.')[0] +'_ip_address'] }}, calitpro.local
{% endif %}

[Peer]
PublicKey = {{ vars[wg_server.split('.')[0] + '_public_key' ] }}
PresharedKey = {{ wg_preshared_key.stdout }}
Endpoint = {{ wg_server }}:{{ vars[wg_server.split('.')[0] + '_port' ] }}
{% if tunnel == 'full' %}
AllowedIPs = 0.0.0.0/0
{% else %}
AllowedIPs = 192.168.0.0/16
{% endif %}
